<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169557705339-61665r674sh9tltt4151k58naeioqgem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169557705339-61665r674sh9tltt4151k58naeioqgem</string>
	<key>API_KEY</key>
	<string>AIzaSyD8McBVRVs56W6U7_AI6PLomo6hOnyZs-I</string>
	<key>GCM_SENDER_ID</key>
	<string>169557705339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-dbb59</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-dbb59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169557705339:ios:0df4c154c57fd1d2bb98de</string>
</dict>
</plist>